#site_header{
  height: 600px;
  
}


#site_footer{
  height: 400px;
}

/* COLORS */

.bg_white{
  background-color: white;
}

.bg_grey{
  background: #f3f5f9;
}

.bg_electricblue{
  background: #004aff;
}

.bg_blue{
  background-color: #002ba6;
}

.bg_darkblue{
  background-color: #031c4e;
}


/* SITE_HEADER RULES */

header{

}



/* SITE_SECTION RULES */

.site_section{
  height: 500px;
}

.customers{
  height: 300px;
}

#servers_data .title{
  padding-top: 85px;

}

#servers_data{
  color: white;
}

.items{
  padding: 10px 0;
}

.background_bottom{
  border-bottom: 1px solid white;
}

#servers_data .col-xs-3{
  text-align: right;
}


#site_nav{
  height: 65px;
  background: white;
  margin-bottom: 0;
}

#height_ul_left>li>a {
  line-height: 34px;
}

#height_ul_right>li>a{
  line-height: 34px;
}

#logo_ocean{
  height: 34px;
}

#site_header h2{
  font-size: 60px;
  margin-top: 90px;
  color: white;
}

#site_header p{
  font-size: 26px;
  color: lightgrey;
  margin-top: 30px;
}

#get_started{
  background: white;
  border-radius: 10px;
  padding: 0 20px;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-top: 90px;
}

#get_started span{
  float: left;
  margin-top: 2px;
}

#get_started h4{
  margin-top: 30px;
  margin-bottom: 30px;
}

#google{
  background: red;
}

.customers img{
  width: 190px;
}

.customers h4{
  margin-top: 50px;
}

.features{
  font-size: 20px;
  border-left: 2px solid lightgrey;
  margin-left: 60px;
  margin-top: 40px;
}

.features strong{
  display: block;
  color: grey;
  margin-left: 10px;
  margin-bottom: 20px;

}

.deploy{
  height: 600px;
}

.deploy h2{
  margin-top: 60px;
}

.designed{
  height: 800px;
}

.designed img{
  width: 700px;
  margin-top: 50px;
  margin-bottom: 60px;
}

.needs{
  height: 400px;
}

.needs img{
  margin-top: 60px;
}

.development{
  height: 600px;
}

.development img{
  width: 700px;
  margin-top: 50px;
  margin-bottom: 60px;
}


.create_account{
  color: white;
  height: 200px;
}


.create_account button{

  background: white;
  color: blue;
  margin-top: 30px;
  
}



#left_footer{
  color: lightgray;
  font-size: 16px;
  margin-top: 60px;
}


#site_footer a{

  display: block;
  font-size: 16px;
  color: lightgray;

}

@media only screen and (max-width: 768px){
  #site_header {
    height: 1130px;
  }

  .customers {
    height: 410px;
  }

    .deploy {
      height: 1100px;
    }

    .needs {
      height: 710px;
  }

  .site_section {
    height: 800px;
}
#site_footer {
  height: 1113px;
}
}

